# Exploring dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates

In [4]:
#column_names = ['domain', 'alexa_rank', 'rank', 'date']
df_labels = pd.read_csv('Train/trainLbls.csv')

In [7]:
df.head()

   1
0  1
1  1
2  1
3  1
4  1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5829 entries, 0 to 5828
Data columns (total 1 columns):
1    5829 non-null int64
dtypes: int64(1)
memory usage: 45.6 KB

In [11]:
df = pd.read_csv('Train/trainVectors.csv', header=0)

In [13]:
df.head()

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.5366,0.5367,0.5368,0.5369,0.5370,0.5371,0.5372,0.5373,0.5374,0.76197
0,5.78900,3.94990,3.8154,4.7163,5.4124,0.0000,5.673700,3.2042,2.97600,0.0000,...,0.000,0.0000,0.22685,0.000000,0.0000,0.000,0.00000,0.0000,0.0000,0.0
1,0.00000,0.00000,0.0000,0.0000,0.0000,0.0000,0.008881,0.0000,0.00000,0.0000,...,0.000,0.0000,0.00000,0.000000,0.0000,0.000,1.76850,0.0000,3.5743,0.0
2,0.56612,0.29012,0.0000,2.6672,3.0934,1.2022,0.000000,2.3956,0.85822,0.0000,...,0.000,0.0000,0.00000,0.000000,0.0000,0.000,0.00000,1.1822,0.0000,0.0
3,0.99131,0.00000,0.0000,0.0000,1.9659,1.4854,0.516980,0.0000,0.52498,0.0000,...,1.006,3.2345,0.21515,1.528800,0.0000,1.356,0.00000,1.5922,0.0000,0.0
4,4.57170,3.16790,2.8567,3.9262,3.3847,3.6458,4.056200,3.2825,0.91876,2.1773,...,0.000,0.0000,2.64680,0.001776,2.4592,0.000,0.66183,0.0000,0.0000,0.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095 entries, 0 to 4094
Columns: 5830 entries, 0 to 0.76197
dtypes: float64(5830)
memory usage: 182.1 MB